<section class="container">


  <div class = "characters-container">
    <div *ngFor="let character of characters" class="character-info">
      <div class="id">Id: <span>{{character.id}}</span></div>
      <div class="name">Name: <span>{{character.name}}</span></div>
      <div class="occupation">Occupation: <span>{{character.occupation}}</span></div>
      <div class="debt">Debt: <span>{{character.debt}}</span></div>
      <div class="weapon">Weapon: <span>{{character.weapon}}</span></div>
    </div>
  </div>

  <section class="operations">
    <div class="operation">
      <button id="fetch-all" (click)="fetchAll()">Fetch all</button>
    </div>
    <div class="operation">
      <label for="character-id">Search by ID: </label>
      <!-- ngModel on input box sets this.fetchID to whatever is typed in -->
      <input type="text" name="character-id" [(ngModel)]="fetchID">
      <!-- on click, we call the fetchOne function, and pass the value  -->
      <!-- that we put in the input box as the argument -->
      <button id="fetch-one" (click)="fetchOne(fetchID)">Fetch one</button>
    </div>
    <div class="operation delete">
      <label for="character-id-delete">Delete by ID: </label>
      <input type="text" name="character-id-delete" [(ngModel)]="deleteID">
      <button id="delete-one" (click)="deleteOne(deleteID)">Delete one</button>
    </div>

  </section>

</section>
